<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test" >

    <test name = "Test On Chrome">
        <parameter name = "BrowserType" value = "Chrome"/>
        <classes>
            <class name = "makemytriptest.makeMyTripTest"/>
        </classes>
    </test> <!-- Test On Chrome -->

</suite> <!-- Test -->
